@import url("animation.css");
.nav-bar{
    background: rgba(64, 163, 133, 1);
    float: left;
    width: 23vw;
    height: calc(100vh - 20px);
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 0px 20px 0 #0000005f;
    -webkit-box-shadow: 5px 0px 20px 0 #0000005f;
    -o-box-shadow: 5px 0px 20px 0 #0000005f;
    -moz-box-shadow: 5px 0px 20px 0 #0000005f;
    position: fixed;
    top: 0;
    left: -80vw;
    transition: all .5s;
}

.nav-bar .nav-title{
    color: white;
    text-align: center;
}

.nav-bar .nav a{
    color: #222;
    text-decoration: none;
}

.nav-bar .nav a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.nav-bar .nav a:active{
    color: rgb(196, 89, 89);
    text-decoration: line-through;
}

.nav-bar .nav a:visited{
    color: rgb(68, 73, 22);
    text-decoration: underline;   
}

.nav-bar .return-btn, .nav-bar .return-btn-hide {
    position: absolute;
    display: block;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.5em;  
    transition:  all .5s;
}

.nav-bar .return-btn{
    left: 20vw;
    border-radius: 7px; 
    top: 20px;
}

.nav-bar .return-btn:hover{
    border: solid 1px white; 
}


.nav-bar .btn-back{
    position: relative;
    color: white;
    font-weight: bolder;
    top: 0;
}

.nav-bar .return-btn:hover .btn-back{
    color: #d32f2f;
}

.nav-bar .return-btn-hide {
    position: fixed;
    left: 0;
    padding: 2px 15px;
    top: 20px;
    transform: scale(1.5);
    background: #444;
    font-weight: bolder;
    animation-name: reboteX;
    animation-delay: .4s;
    animation-duration: 4s;
}
.nav-bar .return-btn-hide:hover{
    background: #666;
    transform: translateX(10px);
    
}
.nav-bar .return-btn:hover .btn-back{
    animation-name: rotacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.nav-bar .nav  ul li {
    margin:  6px 0;
    display: block;
    padding: 5px;
    transition: all .5s;
    
}

.nav-bar .nav li a{
    display: block;
    padding: 10px;
}

.nav .activated{
    border-radius: 7px;
    border: solid 1px white;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.3);
    transition: all .5s;
}

.nav li:hover{
    border-radius: 7px;
    border: solid 1px white;
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.3);
    transform: translateY(-10px);
    background: white;
}

.nav .activated:hover{
    transform: translateY(-20px);
     box-shadow: 0 15px 30px rgba( 0, 0, 0, 0.4);
     background: rgba( 0, 0, 0, 0.4 );
}

.nav .activated a{
    color: white !important;
    font-weight: bolder;
}

.nav .activated a:hover{
    text-decoration: none;
}


@media ( min-width: 300px ) and ( max-width: 600px ){
    .nav-bar{
        width: 84vw;
        font-size: 1.2em;
        left: 0vw;
    }
    .nav-bar .return-btn{
        left: 70vw;
        top: 10px;
    }
}

@media ( min-width: 600px ) and ( max-width: 1100px ) and (orientation:landscape){
    .nav-bar{
        width: 40vw;
        left: 0;
    }
    .nav-bar .return-btn{
        left: 35vw;
        transform: scale(1.5);
        top: 20px;
    }
    .nav-bar .return-btn .btn-back{
        top: 0;
    }
}
